.table__component__wrapper{
    @media (max-width: 47rem){
        overflow: scroll;
        width: 18rem;
    }
}

.table__component{
    border-collapse: collapse;
    margin-top: 1.6rem;
    th, td {
        text-align: center;
        border: 1px solid #121212;
        padding: 0.4rem;
        max-width: 6rem;
    }
    tbody {
        //Select every odd child which is tr
        & > :nth-child(2n+1) {
            background: #ccc;
        }
    }
}

.table__loading{
    display: flex;
    border: 1px solid #121212;
    border-top: none;
    justify-content: center;
    padding: 0.6rem 0rem;
    img{
        width: 4rem;
        animation-name: loading;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}